---
/// <reference types="astro/client" />
import { Image } from 'astro:assets';

// Importing the assets
import apturaLogo from '../assets/Aptura_Logo.svg';
import arrowIcon from '../assets/arrow-up.svg';
import headerMenuBackground from '../assets/header-menu-background.svg';
import homeIconMobile from '../assets/home-icon.svg';
import companiesIconMobile from '../assets/companies-icon.svg';
import teamIconMobile from '../assets/team-icon.svg';
import contactIconMobile from '../assets/contact-icon.svg';

// Import the new MobileMenuButton component
import MobileMenuButton from './MobileMenuButton.astro';
---

<header id="main-header" class="w-full bg-transparent py-4 z-40">
  <div class="container mx-auto flex justify-between items-center px-4 pt-10 md:px-10">

    <div id="logo-container" class="flex-shrink-0 md:hidden">
      <a href="/" aria-label="Aptura Labs Home">
        <Image src={apturaLogo} alt="Aptura Labs Logo" width="140" />
      </a>
    </div>

    <MobileMenuButton id="mobile-menu-button" class="md:hidden text-white focus:outline-none p-2 rounded-full border border-gray-600" client:load>
      <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </MobileMenuButton>

    <div class="hidden md:flex flex-grow justify-between items-center w-full">
      <nav id="header-nav-left" class="flex items-center space-x-6 md:space-x-10">
        <ul class="flex items-center space-x-6 md:space-x-10">
          <li>
            <a href="/" class="nav-link text-gray-300 hover:text-white text-base md:text-lg whitespace-nowrap">
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/companies" class="nav-link text-gray-300 hover:text-white text-base md:text-lg whitespace-nowrap">Companies</a>
          </li>
        </ul>
      </nav>

      <div id="logo-container-desktop" class="flex-shrink-0">
        <a href="/" aria-label="Aptura Labs Home">
          <Image src={apturaLogo} alt="Aptura Labs Logo" width="120" class="md:w-[160px]" />
        </a>
      </div>

      <nav id="header-nav-right" class="flex items-center space-x-6 md:space-x-10">
        <ul class="flex items-center space-x-6 md:space-x-10">
          <li>
            <a href="/team" class="nav-link text-gray-300 hover:text-white text-base md:text-lg whitespace-nowrap">Team</a>
          </li>
          <li>
            <a href="/contact" class="nav-link flex items-center space-x-1 md:space-x-2 text-gray-300 hover:text-white text-base md:text-lg whitespace-nowrap">
              <span>Contact</span>
              <Image src={arrowIcon} alt="Arrow Icon" width="16" height="16" class="md:w-[18px] md:h-[18px]" />
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</header>

<div id="mobile-menu-overlay" class="fixed inset-0 z-50 bg-black transform translate-x-full transition-transform duration-300 ease-in-out flex flex-col"
      style={`background-image: url(${headerMenuBackground.src}); background-size: cover; background-position: center;`}>
  <div class="flex justify-between items-center px-4 py-4 pt-24">
    <div class="flex-shrink-0">
      <a href="/" aria-label="Aptura Labs Home">
        <Image src={apturaLogo} alt="Aptura Labs Logo" width="120" /> </a>
    </div>
    <button id="close-menu-button" class="text-white focus:outline-none rounded-full border border-gray-600 w-12 h-12 flex items-center justify-center">
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
  <nav class="flex-grow flex flex-col justify-start items-start px-1">
    <ul class="w-full h-full flex flex-col justify-center -mt-10"> 
      <li class="border-b border-gray-700 py-4 pl-8">
        <a href="/" class="mobile-nav-link text-white text-2xl flex items-center space-x-4">
          <Image src={homeIconMobile} alt="Home Icon" width="28" height="28" class="w-7 h-7" />
          <span>Home</span>
        </a>
      </li>
      <li class="border-b border-gray-700 py-4 pl-8">
        <a href="/companies" class="mobile-nav-link text-white text-2xl flex items-center space-x-4">
          <Image src={companiesIconMobile} alt="Companies Icon" width="28" height="28" class="w-7 h-7" />
          <span>Companies</span>
        </a>
      </li>
      <li class="border-b border-gray-700 py-4 pl-8">
        <a href="/team" class="mobile-nav-link text-white text-2xl flex items-center space-x-4">
          <Image src={teamIconMobile} alt="Team Icon" width="28" height="28" class="w-7 h-7" />
          <span>Team</span>
        </a>
      </li>
      <li class="py-4 pl-8">
        <a href="/contact" class="mobile-nav-link flex items-center space-x-4 text-white text-2xl">
          <Image src={contactIconMobile} alt="Contact Icon" width="28" height="28" class="w-7 h-7" />
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="fixed bottom-[20px] left-0 w-full bg-transparent border-t border-b border-gray-800 z-50">
    <p class="text-gray-400 text-xs py-2 text-center">&copy; 2025 Aptura Labs | All Rights Reserved</p>
  </div>
</div>

<script src="../scripts/header_script.js"></script>